container_commands:
  00_install_s3cmd:
    command: "tar -C /home/ec2-user -zxf WEB-INF/.ebextensions/lib/s3cmd-1.5.0-alpha3.tar.gz"
    ignoreErrors: true
  01_sync_assets:
    command: /home/ec2-user/s3cmd-1.5.0-alpha3/s3cmd put -r static s3://$AMM_S3_UPLOAD_BUCKET/ --acl-public --config /home/ec2-user/s3cmd-1.5.0-alpha3
    leader_only: true
    ignoreErrors: true