<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<authentication-manager>
		<authentication-provider ref="userService"></authentication-provider>
	</authentication-manager>	

	<http pattern="/static/**" security="none" />
	<http pattern="/favicon.ico" security="none" />
	
	<http auto-config="true" use-expressions="true">
		<form-login login-page="/welcome" default-target-url="/home" authentication-failure-url="/login-failed" />
		<logout logout-success-url="/logout" />
		<intercept-url pattern="/welcome" access="hasAnyRole('ROLE_ANONYMOUS', 'ROLE_USER')"/>
		<intercept-url pattern="/register" access="hasAnyRole('ROLE_ANONYMOUS', 'ROLE_USER')"/>
		<intercept-url pattern="/login-failed" access="hasAnyRole('ROLE_ANONYMOUS', 'ROLE_USER')"/>
		<intercept-url pattern="/error" access="hasAnyRole('ROLE_ANONYMOUS', 'ROLE_USER')"/>
		<intercept-url pattern="/not-found" access="hasAnyRole('ROLE_ANONYMOUS', 'ROLE_USER')"/>
		<intercept-url pattern="/**" access="hasRole('ROLE_USER')" />
	</http>
</beans:beans>